<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'login_registration/css/style.css' %}">
  <title>Dashboard</title>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>Headers</h1>
      <a href="/logout" class="button">Logout</a>
    </div>

    <div id="register" class="box">
     <h2>Register</h2>
      <form action="/register" method="POST">
        {% csrf_token %}
        <p>First Name: </p><input type="text" name="fname"     value="{{data.fname}}" class="input">
        <p>Last Name:  </p><input type="text" name="lname"     value="{{data.lname}}" class="input">
        <p>Email:      </p><input type="text" name="email"     value="{{data.email}}" class="input">
        <p>Password:   </p><input type="text" name="password"  value=""               class="input">
        <p>Confirm PW: </p><input type="text" name="password2" value=""               class="input">
        <input type="submit" class="submit">
      </form>
    </div>
    
  </div>
</body>
</html>
