<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'djangobelt/css/dashboard.css' %}">
  <title>User Profile</title>
</head>
<body>
  <div id="container">
   
    <div id="header">
      <div>
        {% load staticfiles %}
        <img src="{% static 'djangobelt/images/dojo_logo.png' %}" alt="logo" class="logo"/>
        <div class="apptitle">Friends</div>
      </div>
      <a href="/logout">Log off </a>
      <a href="/">Home</a>
      <p>Welcome <b>{{ request.session.username }}</b></p>
    </div>

   <h2>{{ alias }}'s Profile:</h2>
    <h3>Name: {{name}}</h3>
    <h3>Email Address: {{username}}</h3>
    <div id="footer">
      <h4>
        <center>
          <img src="{% static 'djangobelt/images/dojo_logo.png' %}" alt="logo" class="logo"/>
          CodingDojo - Dallas | django Blackbelt Exam -  by Bryan Utley (Dec 16, 2016)
        </center>
      </h4>
    </div>

  </div>
</body>
</html>
